h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
}

p {
    font-size: 1rem;
}

ul {
    margin-left: 1.2rem;
}

li {
    margin-bottom: 0.22rem;
}

.pp-in-text {
    font-weight: bold;
    color: #1976D2;
}

