.header-container {
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.header-title {
    padding-left: 5rem;
    font-weight: bold;
    font-size: larger;
    color: #1c2642;
}

.header-created-date {
    text-align: right;
    margin-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.1rem;
    font-weight:600;
    font-size: large;
    color: #1c2642;
}

.article-screen {
    padding: 4rem 0;
}
 
.article {
    margin-bottom: 2rem;
}

.article-container {
    margin: 0 5rem;
    padding-right: 18rem;
}

.username-text {
    text-align: right;
    font-style: italic;
    padding-top: 1.2rem;
}

#username {
    font-weight: 500;
    color: #1c2642;
}

.header-image-section {
    margin-left: 5rem;
}

.header-image {
    max-width: 74.5%;
    height: auto;
    border-radius: 25px;
}

.comment-section {
    margin-top: 5rem;
}

.heading-comment-section {
    font-weight: 600;
}